h3 
  text-align center
.addEventForm-container
  display flex
  flex-direction column
  justify-content center
  align-items center
  padding 1rem
.event-edit
  width 90%
  display flex
  flex-wrap wrap
  justify-content space-around
  align-items center
  text-align center
  .input-container
    display flex
    flex-direction column
    padding 1rem
  .submit-button
    width 80%
    height 2rem
    border-radius 5px