.footer
	display flex
	flex-direction row
	justify-content space-around
	width 100%
	margin 10px 0px 
	.map-container
		width 50%
		text-align center
		@media screen and (max-width: 600px)
			display none
	.logo-container-large
		width 40%
		text-align center
		@media screen and (max-width: 600px)
			width 100%		
		.logo_large
			width 50%
			filter drop-shadow(0px 0px 5px rgba(200,200,200,0.7)) 
			@media screen and (max-width: 600px)
				width 16rem
.footer-info-container
	display flex
	flex-direction column
	justify-content space-around
	text-align center
.footer-info
	margin 0.5rem