.home-container
	flex-basis 100%
	flex-direction column
	h2 
		margin 1rem 0
	
.home-content-container
	grid-template-columns 3fr 1fr
	grid-gap 1rem
	padding 1rem

.sidebar-container
	filter drop-shadow(0px 0px 15px rgba(200,200,200,0.5))
	flex-flow column
	// flex 1 0 auto
	// margin 2rem 2rem 0 0 
	// @media screen and (max-width: 600px)
	// 	display none
	.subscribe-container
		background #333
		margin-bottom 1rem
		border-radius 5px
		height 10rem
	.news-container-home
		background #333
		border-radius 5px
		height 51rem
