@require './_*.styl'

body
	background url('../images/background.png') 0 0 no-repeat fixed
	color #d8d8d8
	font-family Montserrat-Light
	margin 0 auto
	width 85%
	@media screen and (max-width: 600px)
		width 100%
h2
	text-align center
	font-size 2rem
a 
	text-decoration none
	color inherit
p
	word-wrap break-word
	line-height 2
    letter-spacing 1.2px
address
	cursor pointer
	font-style normal
	text-align center

section
	display flex

iframe 
	width 100%

.is-hidden
	display none
	
.App
	background #222
	border-radius 5px
	display flex
	flex-direction column
	width 100%

.content-container
	flex-direction column
