// json('media-query-bps.json')
@require './_*.styl'

body
	background url('../images/background.png') 0 0 no-repeat fixed
	color #d8d8d8
	font-family Montserrat-Light
	margin 0 auto
	width 85%
	@media screen and (max-width: 600px)
		width 100%
h1
	font-size 3rem
	margin 1rem 0 
	text-align center
h2
	font-size 2.5rem
	margin 0 auto
	text-align center
h3
	font-size 1.5rem
	margin 0 auto
	text-align center


a 
	text-decoration none
	color inherit
p
	word-wrap break-word
	line-height 2
  letter-spacing 1.2px
address
	cursor pointer
	font-style normal
	text-align center

section
	display flex

iframe 
	width 100%

.is-hidden
	display none
	
.App
	background #222
	border-radius 5px
	display flex
	flex-direction column
	width 100%
	@media screen and (max-width: 600px)
		background none

.content-container
	padding 1rem

.bor
	border 1px solid red
	border-radius 5px
.bor-g
	border 1px solid green
	border-radius 5px
.is-grid
	display grid

.pad
	padding .5rem